Repository boostcampwm2023/iOS08-WeTri, pull requests merged in 2023-11, with the labels that each got.

#18 [GWL-3] Tuist 프로젝트 세팅
  iOS/.gitignore
  iOS/.swiftformat
  iOS/.swiftlint.yml
  iOS/Plugins/IOS/Package.swift
  iOS/Plugins/IOS/Plugin.swift
  iOS/Plugins/IOS/ProjectDescriptionHelpers/LocalHelper.swift
  iOS/Plugins/IOS/Sources/tuist-my-cli/main.swift
  iOS/Projects/App/Project.swift
  iOS/Projects/App/Resources/LaunchScreen.storyboard
  iOS/Projects/App/Sources/AppDelegate.swift
  iOS/Projects/App/Sources/SceneDelegate.swift
  iOS/Projects/App/Sources/ViewController.swift
  iOS/Tuist/Config.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/Tuist/ProjectDescriptionHelpers/Scripts+Templates.swift
  iOS/Workspace.swift
Labels: 📱 iOS

#20 [GWL-30] PR Template 추가
  iOS/.github/pull_request_template.md
Labels: 🌎 공통

#22 [GWL-8] MVVM-C + Clean Architecture 초기 적용
  iOS/Projects/Core/HealthKit/Project.swift
  iOS/Projects/Core/Network/Project.swift
  iOS/Projects/Core/Persistence/Project.swift
  iOS/Projects/Domain/Entity/Project.swift
  iOS/Projects/Domain/Repositories/Project.swift
  iOS/Projects/Domain/Usecase/Project.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Shared/DesignSystem/Project.swift
Labels: review, 📱 iOS

#24 [GWL-30] PR 템플릿 상위 폴더로 이동
  .github/pull_request_template.md
Labels: 🌎 공통

#25 [GWL-4] TS + Nest.js + TypeORM 세팅
  BackEnd/.eslintrc.js
  BackEnd/.gitignore
  BackEnd/.prettierrc
  BackEnd/nest-cli.json
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/app.controller.spec.ts
  BackEnd/src/app.controller.ts
  BackEnd/src/app.module.ts
  BackEnd/src/app.service.ts
  BackEnd/src/config/typeorm.config.ts
  BackEnd/src/main.ts
  BackEnd/test/app.e2e-spec.ts
  BackEnd/test/jest-e2e.json
  BackEnd/tsconfig.build.json
  BackEnd/tsconfig.json
Labels: 💻백엔드

#26 [GWL-31] BackEnd CI 적용
  .github/workflows/BackEnd_CI.yml
Labels: 💻백엔드

#28 [GWL-5] Design System 정리
  iOS/.swiftformat
  iOS/Projects/App/Project.swift
  iOS/Projects/App/Sources/ViewController.swift
  iOS/Projects/Shared/DesignSystem/Project.swift
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Error.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Gray-01.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Gray-02.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Gray-03.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Main-01.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Main-02.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Main-03.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/PrimaryBackGround.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/PrimaryText.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/SecondaryBackGround.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Success.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/Warning.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Sources/DesignSystemColor.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+Font.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+Main.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+MainCircular.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIFont+preferredFont.swift
  iOS/Projects/Shared/Project.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/Workspace.swift
Labels: 📱 iOS, ⭐️ 높음

#36 [GWL-7] Network 라이브러리 구현
  iOS/Projects/App/Project.swift
  iOS/Projects/Core/Network/Project.swift
  iOS/Projects/Core/Network/Sources/MockURLSession.swift
  iOS/Projects/Core/Network/Sources/TNEndPoint.swift
  iOS/Projects/Core/Network/Sources/TNError.swift
  iOS/Projects/Core/Network/Sources/TNHeader.swift
  iOS/Projects/Core/Network/Sources/TNHeaders.swift
  iOS/Projects/Core/Network/Sources/TNMethod.swift
  iOS/Projects/Core/Network/Sources/TNProvidable.swift
  iOS/Projects/Core/Network/Sources/Trinet.swift
  iOS/Projects/Core/Network/Sources/URLSessionProtocol.swift
  iOS/Projects/Core/Network/Tests/Test.swift
  iOS/Tuist/ProjectDescriptionHelpers/TargetDependency.swift
Labels: 📱 iOS, 🤼 페어프로그래밍

#39 [GWL-39] Tuist 모듈 아키텍처 수정
  iOS/Projects/App/Project.swift
  iOS/Projects/Core/Network/Project.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Tuist/ProjectDescriptionHelpers/TargetDependency.swift
  iOS/graph.png
Labels: 📱 iOS, 🤼 페어프로그래밍

#41 [GWL-41] TNCombineCococa 구현
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Shared/TNCocoaCombine/Project.swift
  iOS/Projects/Shared/TNCocoaCombine/Sources/EventSubscription.swift
  iOS/Projects/Shared/TNCocoaCombine/Sources/UIControl+Publisher.swift
  iOS/Tuist/ProjectDescriptionHelpers/TargetDependency.swift
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#51 [GWL-43] Swagger, Logger 적용 및 TypeORM Async 제거
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/app.module.ts
  BackEnd/src/config/swagger.config.ts
  BackEnd/src/config/typeorm.config.ts
  BackEnd/src/config/winston.config.ts
  BackEnd/src/main.ts
  BackEnd/src/middlewares/logger.middleware.ts
Labels: 💻백엔드

#48 [GWL-40] Root Coordinator 세팅
  iOS/Projects/App/Project.swift
  iOS/Projects/App/Sources/AScene/Coordinator/ACoordinator.swift
  iOS/Projects/App/Sources/AScene/Coordinator/Protocol/ACoordinating.swift
  iOS/Projects/App/Sources/AScene/ViewController/AViewController.swift
  iOS/Projects/App/Sources/Application/AppDelegate.swift
  iOS/Projects/App/Sources/Application/SceneDelegate.swift
  iOS/Projects/App/Sources/BScene/Coordinator/BCoordinator.swift
  iOS/Projects/App/Sources/BScene/Coordinator/Protocol/BCoordinating.swift
  iOS/Projects/App/Sources/BScene/ViewController/BViewController.swift
  iOS/Projects/App/Sources/CScene/Coordinator/CCoordinator.swift
  iOS/Projects/App/Sources/CScene/Coordinator/Protocol/CCoordinating.swift
  iOS/Projects/App/Sources/CScene/ViewController/CViewController.swift
  iOS/Projects/App/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/App/Sources/CommonScene/Coordinator/Protocol/AppCoordinating.swift
  iOS/Projects/App/Sources/TabBarScene/Coordinator/Protocol/TabBarCoordinating.swift
  iOS/Projects/App/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Core/Coordinator/Project.swift
  iOS/Projects/Core/Coordinator/Sources/CoordinatorFlow.swift
  iOS/Projects/Core/Coordinator/Sources/Delegate/CoordinatorFinishDelegate.swift
  iOS/Projects/Core/Coordinator/Sources/Protocol/Coordinating.swift
  iOS/Projects/Features/Record/Resources/.gitkeep
  iOS/Projects/Features/Record/Sources/RecordScene/RecordViewController.swift
  iOS/Projects/Features/Record/Tests/.gitkeep
  iOS/Tuist/ProjectDescriptionHelpers/TargetDependency.swift
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#54 [GWL-51] Design System Page Control 생성
  iOS/Projects/Shared/DesignSystem/Sources/GWPageConrol.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWRoundShadowView.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWShadow.swift
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#56 [GWL-50] typeORM entity 세팅 및 테스트
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/users/entities/users.entity.ts
Labels: 💻백엔드

#57 [GWL-22] 운동 요약 화면 UI 구성
  iOS/Projects/Features/Record/Sources/WorkoutSummary/ParticipantsCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/WorkoutSummary/WorkoutSummaryViewController.swift
  iOS/Projects/Features/Record/Sources/WorkoutSummary/WorkoutSummaryViewModel.swift
  iOS/graph.png
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#59 [GWL-13] 운동 선택 화면 UI 구현
  iOS/Projects/App/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutCardCell.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutSelectViewController.swift
  iOS/Projects/Shared/DesignSystem/Sources/ConstraintsGuideLine.swift
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#61 [GWL-53] SwiftLint 수정
  iOS/.swiftformat
  iOS/.swiftlint.yml
  iOS/Makefile
  iOS/Tuist/ProjectDescriptionHelpers/Scripts+Templates.swift
Labels: 🔧 개선, 📱 iOS, ✨ 낮음

#63 [GWL-54] Tuist Test Github Action 적용
  .github/workflows/iOS_CI.yml
  iOS/Projects/Features/Record/Tests/.gitkeep
  iOS/Projects/Features/Record/Tests/RecordFeatureTests.swift
Labels: 🔧 개선, 📱 iOS

#65 [GWL-5] DesignSystem 변수명 수정
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutCardCell.swift
  iOS/Projects/Features/Record/Sources/WorkoutSummary/ParticipantsCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/WorkoutSummary/WorkoutSummaryViewController.swift
  iOS/Projects/Shared/DesignSystem/Sources/DesignSystemColor.swift
Labels: 🔧 개선, 📱 iOS, ✨ 낮음

#67 [GWL-5] Design System Color 변경되지 않는 코드 수정
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutCardCell.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+Main.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+MainCircular.swift
Labels: 🐛 버그, 📱 iOS, ⭐️ 높음

#68 [GWL-54] iOS CI Yaml 수정
  .github/workflows/iOS_CI.yml
Labels: 🐛 버그, 📱 iOS, ⭐️ 높음

#66 [GWL-6] 탭바 기록화면 UI구성
  iOS/Projects/Features/Record/Sources/RecordScene/CollectionViewCell/CalendarCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/RecordScene/CollectionViewCell/WorkoutInformationCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/RecordScene/View/NoRecordsView.swift
  iOS/Projects/Features/Record/Sources/RecordScene/ViewController/RecordCalendarViewController.swift
  iOS/Projects/Features/Record/Sources/RecordScene/ViewController/RecordContainerViewController.swift
  iOS/Projects/Features/Record/Sources/RecordScene/ViewController/RecordListViewController.swift
  iOS/Projects/Features/Record/Tests/Test.swift
  iOS/Projects/Shared/TNCocoaCombine/Project.swift
Labels: 📱 iOS, ⭐️ 높음, 🆕 새 기능

#74 [GWL-5] DesignSystem 오탈자로 인한 컴파일에러 수정
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/PrimaryBackground.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Colors.xcassets/SecondaryBackground.colorset/Contents.json
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+Main.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+MainCircular.swift
Labels: 🐛 버그, 📱 iOS, ⭐️ 높음

#80 [GWL-47] 수동 배포에서 자동 배포로 구현하기 [도커]
  .github/workflows/BackEnd_CI.yml
  .github/workflows/BackEnd_CICD.yml
  BackEnd/Dockerfile
Labels: 💻백엔드, 🆕 새 기능

#82 [GWL-48] [FIX] 수동 배포에서 자동 배포로 구현하기 [도커]
  .github/workflows/BackEnd_CD.yml
  .github/workflows/BackEnd_CI.yml
  .github/workflows/BackEnd_CICD.yml
Labels: 🐛 버그, 💻백엔드

#69 [GWL-16] 운동 동료 선택 화면 UI 구현
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutPeerSelectViewController.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutPeerTypeSelectCell.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutSelectTypeCell.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutSelectViewController.swift
  iOS/Projects/Shared/DesignSystem/Sources/ConstraintsGuideLine.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWPageConrol.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWRoundShadowView.swift
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#84 [GWL-49] RecordFeature Coordinator Flow 구성
  iOS/Projects/App/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/App/Sources/CommonScene/Coordinator/Protocol/AppCoordinating.swift
  iOS/Projects/App/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Core/Coordinator/Sources/CoordinatorFlow.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/Delegate/WorkoutSettingCoordinatorFinishDelegate.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/Protocol/RecordFeatureCoordinating.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/Protocol/WorkoutCoordinating.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/Protocol/WorkoutSettingCoordinating.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/WorkoutCoordinator.swift
  iOS/Projects/Features/Record/Sources/Common/Coordinator/WorkoutSettingCoordinator.swift
  iOS/Projects/Features/Record/Sources/Domain/Entity/WorkoutSetting.swift
  iOS/Projects/Features/Record/Sources/RecordScene/RecordViewController.swift
Labels: 📱 iOS, ⭐️ 높음, 🆕 새 기능

#83 [GWL-64] Apple 인증 후 회원가입 구현, 로그인 유지 (access token, refresh token), Apple 인증 후 회원가입, 로그인 유지, global exception filter, global interceptor 구현
  .github/workflows/BackEnd_CD.yml
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/app.module.ts
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.module.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/dto/signup.dto.ts
  BackEnd/src/auth/exceptions/auth.exception.ts
  BackEnd/src/auth/guard/bearerToken.guard.ts
  BackEnd/src/common/Interceptors/responseTransform. Interceptor.ts
  BackEnd/src/common/exceptionFilters/httpException.filter.ts
  BackEnd/src/main.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/profiles/profiles.controller.ts
  BackEnd/src/profiles/profiles.module.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/users/entities/users.entity.ts
  BackEnd/src/users/users.controller.ts
  BackEnd/src/users/users.module.ts
  BackEnd/src/users/users.service.ts
Labels: 💻백엔드, ⭐️ 높음

#81 [GWL-55] Makefile과 Tuist로 모듈 및 데모 앱 생성 명령어 구현
  iOS/Makefile
  iOS/Plugins/DependencyPlugin/Plugin.swift
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Path+relativeTo.swift
  iOS/Plugins/EnvironmentPlugin/Plugin.swift
  iOS/Plugins/EnvironmentPlugin/ProjectDescriptionHelpers/ProjectEnvironment.swift
  iOS/Plugins/IOS/Package.swift
  iOS/Plugins/IOS/Plugin.swift
  iOS/Plugins/IOS/ProjectDescriptionHelpers/LocalHelper.swift
  iOS/Plugins/IOS/Sources/tuist-my-cli/main.swift
  iOS/Projects/App/Project.swift
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/App/WeTri/Resources/LaunchScreen.storyboard
  iOS/Projects/App/WeTri/Sources/AScene/Coordinator/ACoordinator.swift
  iOS/Projects/App/WeTri/Sources/AScene/Coordinator/Protocol/ACoordinating.swift
  iOS/Projects/App/WeTri/Sources/AScene/ViewController/AViewController.swift
  iOS/Projects/App/WeTri/Sources/Application/AppDelegate.swift
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/App/WeTri/Sources/BScene/Coordinator/BCoordinator.swift
  iOS/Projects/App/WeTri/Sources/BScene/Coordinator/Protocol/BCoordinating.swift
  iOS/Projects/App/WeTri/Sources/BScene/ViewController/BViewController.swift
  iOS/Projects/App/WeTri/Sources/CScene/Coordinator/CCoordinator.swift
  iOS/Projects/App/WeTri/Sources/CScene/Coordinator/Protocol/CCoordinating.swift
  iOS/Projects/App/WeTri/Sources/CScene/ViewController/CViewController.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/Protocol/AppCoordinating.swift
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/Protocol/TabBarCoordinating.swift
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/App/WeTri/Sources/ViewController.swift
  iOS/Projects/Core/Coordinator/Project.swift
  iOS/Projects/Core/HealthKit/Project.swift
  iOS/Projects/Core/Network/Project.swift
  iOS/Projects/Core/Persistence/Project.swift
  iOS/Projects/Domain/Entity/Project.swift
  iOS/Projects/Domain/Repositories/Project.swift
  iOS/Projects/Domain/Usecase/Project.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Features/Record/Sources/WorkoutSelectScene/View/WorkoutSelectViewController.swift
  iOS/Projects/Shared/CombineCocoa/Project.swift
  iOS/Projects/Shared/CombineCocoa/Sources/EventSubscription.swift
  iOS/Projects/Shared/CombineCocoa/Sources/UIControl+Publisher.swift
  iOS/Projects/Shared/DesignSystem/Project.swift
  iOS/Scripts/create_module.sh
  iOS/Tuist/Config.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/Tuist/ProjectDescriptionHelpers/Scripts+Templates.swift
  iOS/Tuist/ProjectDescriptionHelpers/Target+Templates.swift
  iOS/Tuist/ProjectDescriptionHelpers/TargetDependency.swift
  iOS/Tuist/Templates/Demo/AppDelegate.stencil
  iOS/Tuist/Templates/Demo/Demo.swift
  iOS/Tuist/Templates/Demo/LaunchScreen.stencil
  iOS/Tuist/Templates/Demo/SceneDelegate.stencil
  iOS/Tuist/Templates/Feature/Feature.swift
  iOS/Tuist/Templates/Feature/TempFeatureTests.stencil
  iOS/Tuist/Templates/Feature/TempViewController.stencil
  iOS/Tuist/Templates/Feature/TempViewModel.stencil
  iOS/Workspace.swift
Labels: 📱 iOS, 🌟 중간

#88 [GWL-66] ipa 파일을 Object 스토리지에 저장후 API 메인에서 다운 받을 수 있도록 구현, CD 수정
  .github/workflows/BackEnd_CD.yml
  BackEnd/public/index.html
  BackEnd/src/app.controller.spec.ts
  BackEnd/src/app.controller.ts
  BackEnd/src/app.module.ts
  BackEnd/src/app.service.ts
  BackEnd/src/main.ts
Labels: 💻백엔드, ✨ 낮음, 🆕 새 기능

#90 [GWL-69] RecordFeature - Architecture 폴더링
  iOS/Projects/Features/Record/Sources/Data/Repositories/.gitkeep
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSetting.swift
  iOS/Projects/Features/Record/Sources/Domain/Interfaces/Repositories/.gitkeep
  iOS/Projects/Features/Record/Sources/Domain/UseCases/.gitkeep
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Delegate/WorkoutSettingCoordinatorFinishDelegate.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/RecordFeatureCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSettingCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSettingCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/CalendarCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/WorkoutInformationCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/View/NoRecordsView.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordCalendarViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSelectScene/View/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSelectScene/View/WorkoutPeerSelectViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSelectScene/View/WorkoutPeerTypeSelectCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSelectScene/View/WorkoutSelectTypeCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSelectScene/View/WorkoutSelectViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummary/ParticipantsCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummary/WorkoutSummaryViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummary/WorkoutSummaryViewModel.swift
Labels: 🔧 개선, 📱 iOS, ✨ 낮음

#91 [GWL-59] 유저가 운동을 마친 후 기록하는 API 요청
  BackEnd/src/app.controller.spec.ts
  BackEnd/src/app.module.ts
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.module.ts
  BackEnd/src/auth/guard/bearerToken.guard.ts
  BackEnd/src/profiles/decorator/profile.decorator.ts
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/records/records.module.ts
  BackEnd/src/records/records.service.ts
Labels: 💻백엔드, 🌟 중간

#94 [GWL-25] 지도 화면 UI 구현
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/SessionParticipantCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewModel.swift
  iOS/Tuist/ProjectDescriptionHelpers/Target+Templates.swift
Labels: 📱 iOS

#92 [GWL-71] self-hosted Runner로 변경에 따른 CD 수정
  .github/workflows/BackEnd_CD.yml
  .github/workflows/BackEnd_CI.yml
  BackEnd/Dockerfile
Labels: 💻백엔드, ⭐️ 높음, 🆕 새 기능

#96 [GWL-57] 유저의 운동 기록 API 요청
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/exceptions/records.exception.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/records/records.service.ts
Labels: 💻백엔드

#100 [GWL-32] apple signIn 구현, 학습 정리
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/auth/auth-apple.service.ts
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.module.ts
  BackEnd/src/auth/decorator/apple-token.decorator.ts
  BackEnd/src/profiles/decorator/profile.decorator.ts
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/entities/records.entity.ts
Labels: 💻백엔드, ⭐️ 높음

#103 [GWL-74] CocoaCombine bind(to:) 추가
  iOS/Projects/Shared/CombineCocoa/Project.swift
  iOS/Projects/Shared/CombineCocoa/Sources/Publisher+bind.swift
  iOS/Projects/Shared/CombineCocoa/Tests/Publisher+bindTests.swift
Labels: 📱 iOS, 🌟 중간, 🆕 새 기능

#108 [GWL-78]Record Swagger 작성
  .github/workflows/BackEnd_CI.yml
  BackEnd/package-lock.json
  BackEnd/src/records/dto/create-recordResponse.dto.ts
  BackEnd/src/records/dto/get-recordResponse.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.controller.ts
Labels: 💻백엔드, 🌟 중간

#107 [GWL-80] 서버 URL을 XCConfig에 설정
  .github/workflows/iOS_CI.yml
  iOS/.gitignore
  iOS/Makefile
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Path+relativeTo.swift
  iOS/Projects/Core/Network/Sources/TNEndPoint.swift
  iOS/Projects/Core/Network/Sources/Trinet.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/Tuist/ProjectDescriptionHelpers/Target+Templates.swift
Labels: 📱 iOS, ⭐️ 높음

#95 [GWL-70] Record 만들어진 UI ViewModel 구현
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Features/Record/Resources/Persistency/PeerTypes.json
  iOS/Projects/Features/Record/Resources/Persistency/WorkoutTypes.json
  iOS/Projects/Features/Record/Sources/Data/DTO/GWResponse.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/PeerTypeDTO.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/WorkoutTypeDTO.swift
  iOS/Projects/Features/Record/Sources/Data/Error/DataLayerError.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutEnvironmentSetupNetworkRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/PeerType.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutType.swift
  iOS/Projects/Features/Record/Sources/Domain/Error/DomainError.swift
  iOS/Projects/Features/Record/Sources/Domain/Interfaces/Repositories/WorkoutEnvironmentSetupNetworkRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutEnvironmentSetupUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSettingCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSettingCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/View/WorkoutPeerTypeSelectCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/View/WorkoutSelectTypeCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutPeerSelectViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutSelectViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewModel/WorkoutEnvironmentSetupViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSelectScene/View/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWPageConrol.swift
Labels: 📱 iOS, 🌟 중간

#114 [GWL-83] Record Swagger 리팩토링
  BackEnd/src/auth/dto/auth-response.dto.ts
  BackEnd/src/common/dto/SuccessRes.dto.ts
  BackEnd/src/records/dto/create-recordResponse.dto.ts
  BackEnd/src/records/dto/get-recordResponse.dto.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.controller.ts
Labels: 💻백엔드, ⭐️ 높음

#117 [GWL-84] Workout Session 전체 뷰 구성 + Swiftformat CI 추가
  .github/workflows/iOS_CI.yml
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/RecordUpdateUseCaseRepresentable.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryViewModel.swift
  iOS/Projects/Shared/Log/Sources/Logger.swift
Labels: 📱 iOS, ⭐️ 높음

#115 [GWL-82] 날짜별 운동 기록 테이블 수정, 데이터 베이스 수정
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/public/index.html
  BackEnd/src/app.controller.ts
  BackEnd/src/app.module.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/dto/signup.dto.ts
  BackEnd/src/config/typeorm.config.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/profiles/decorator/profile.decorator.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/profiles/profiles.module.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/records/records.module.ts
  BackEnd/src/records/records.service.ts
  BackEnd/src/users/entities/users.entity.ts
  BackEnd/src/users/users.module.ts
  BackEnd/src/users/users.service.ts
  BackEnd/src/workouts/dto/workout-response.dto.ts
  BackEnd/src/workouts/entities/workout.entity.ts
  BackEnd/src/workouts/workouts.controller.ts
  BackEnd/src/workouts/workouts.module.ts
  BackEnd/src/workouts/workouts.service.ts
Labels: 🔧 개선, 💻백엔드, ⭐️ 높음

#119 [GWL-118] Issue Template 추가 ========== 다음 PR부터 브랜치명은 이슈 기준으로 생성해주세요 ==========
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: 🔨 구현, 🌎 공통

#126 [GWL-116] 조금 더 구조적이고, 탄탄한 WebSocket 재 구축
  BackEnd/src/app.controller.ts
  BackEnd/src/app.module.ts
  BackEnd/src/live-workouts/events/dto/create-event.dto.ts
  BackEnd/src/live-workouts/events/dto/update-event.dto.ts
  BackEnd/src/live-workouts/events/entities/event.entity.ts
  BackEnd/src/live-workouts/events/events.gateway.spec.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/events/events.module.ts
  BackEnd/src/live-workouts/events/events.service.spec.ts
  BackEnd/src/live-workouts/events/events.service.ts
  BackEnd/src/live-workouts/matches/dto/create-match.dto.ts
  BackEnd/src/live-workouts/matches/dto/update-match.dto.ts
  BackEnd/src/live-workouts/matches/entities/match.entity.ts
  BackEnd/src/live-workouts/matches/matches.controller.spec.ts
  BackEnd/src/live-workouts/matches/matches.controller.ts
  BackEnd/src/live-workouts/matches/matches.module.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
  BackEnd/src/lives/lives.gateway.ts
  BackEnd/src/lives/lives.module.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/records/records.module.ts
  BackEnd/src/records/records.service.ts
  BackEnd/src/users/users.service.ts
  BackEnd/src/workouts/dto/workout-response.dto.ts
  BackEnd/src/workouts/entities/workout.entity.ts
  BackEnd/src/workouts/workouts.controller.ts
  BackEnd/src/workouts/workouts.module.ts
  BackEnd/src/workouts/workouts.service.ts
Labels: 💻백엔드, ⭐️ 높음

#128 [GWL-125] GWPageController 스스로가 Size를 갖을 수 있도록 코드 변경
  iOS/Projects/Shared/DesignSystem/Sources/GWPageConrol.swift
Labels: 🐛 버그, 📱 iOS

#130 [GWL-15] 운동 세션 Flow와 운동 요약 화면 이동 처리
  iOS/Projects/Features/Record/Resources/MockJSON/WorkoutSession.json
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutRecordRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutHealth.swift
  iOS/Projects/Features/Record/Sources/Domain/Interfaces/Repositories/WorkoutRecordRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutRecordUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSessionCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryViewController.swift
Labels: 📱 iOS

#132 [GWL-129] RandomMatchingAPI연결
  iOS/Projects/Core/Network/Sources/MockURLSession.swift
  iOS/Projects/Core/Network/Sources/TNError.swift
  iOS/Projects/Core/Network/Sources/TNProvidable.swift
  iOS/Projects/Core/Network/Tests/Test.swift
  iOS/Projects/Features/Record/Resources/Persistency/MatchesCancel.json
  iOS/Projects/Features/Record/Resources/Persistency/MatchesRandom.json
  iOS/Projects/Features/Record/Resources/Persistency/MatchesStart.json
  iOS/Projects/Features/Record/Sources/Data/DTO/NullDTO.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/PeerMatchDTO.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutPeerRandomMatchingRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutMode.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSetting.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/WorkoutPeerRandomMatchingRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutPeerRandomMatchingUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSettingCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/View/WorkoutPeerTypeSelectCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewModel/WorkoutEnvironmentSetupViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewController/WorkoutPeerRandomMatchingViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewModel/WorkoutPeerRandomMatchingViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/WorkoutPeerRandomMatchingViewModel.swift
  iOS/Projects/Shared/CombineCocoa/Tests/Publisher+bindTests.swift
Labels: 📱 iOS, ⭐️ 높음

#133 [GWL-37] CocoaCombine withLatestFrom 추가 + Code Coverage 100%
  iOS/Projects/Shared/CombineCocoa/Sources/EventSubscription.swift
  iOS/Projects/Shared/CombineCocoa/Sources/Publisher+withLatestFrom.swift
  iOS/Projects/Shared/CombineCocoa/Tests/Publisher+WithLatestFromTests.swift
  iOS/Projects/Shared/CombineCocoa/Tests/UIControl+PublisherTests.swift
Labels: 📱 iOS

#134 [GWL-122] Room 기능 구현, 테스트
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/live-workouts/events/Extensions/ExtensionServer.ts
  BackEnd/src/live-workouts/events/Extensions/ExtensionWebSocket.ts
  BackEnd/src/live-workouts/events/events.gateway.spec.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/entities/records.entity.ts
Labels: 💻백엔드, ⭐️ 높음

#145 [GWL-140] 어드민 계정 생성, 로그인 구현
  .github/workflows/BackEnd_CI.yml
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/admin/admin.controller.ts
  BackEnd/src/admin/admin.module.ts
  BackEnd/src/admin/admin.service.ts
  BackEnd/src/admin/dto/login.dto.ts
  BackEnd/src/admin/entities/admin.entity.ts
  BackEnd/src/admin/exceptions/admin.exception.ts
  BackEnd/src/app.module.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  package-lock.json
Labels: 💻백엔드, 🔨 구현

#143 [GWL-136] Trinet 리팩토링 (Headers, Header, method, typo)
  iOS/Projects/Core/Network/Sources/MockURLSession.swift
  iOS/Projects/Core/Network/Sources/TNError.swift
  iOS/Projects/Core/Network/Sources/TNHeader.swift
  iOS/Projects/Core/Network/Sources/TNHeaders.swift
  iOS/Projects/Core/Network/Sources/TNMethod.swift
  iOS/Projects/Core/Network/Sources/TNProvidable.swift
  iOS/Projects/Core/Network/Tests/EndPointTests.swift
  iOS/Projects/Core/Network/Tests/MockEndPoint.swift
  iOS/Projects/Core/Network/Tests/SessionProtocolTests.swift
  iOS/Projects/Core/Network/Tests/Test.swift
  iOS/Projects/Features/Record/Resources/Persistency/WorkoutSession.json
  iOS/Projects/Features/Record/Resources/Persistency/WorkoutSummary.json
Labels: 🔧 개선, 📱 iOS

#135 [GWL-121] 매칭 API 구현
  .github/workflows/BackEnd_CI.yml
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/app.controller.ts
  BackEnd/src/app.module.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/config/redis.config.ts
  BackEnd/src/live-workouts/events/Extensions/ExtensionServer.ts
  BackEnd/src/live-workouts/events/Extensions/ExtensionWebSocket.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/matches/constant/matches.constant.ts
  BackEnd/src/live-workouts/matches/dto/create-match.dto.ts
  BackEnd/src/live-workouts/matches/dto/random-match.dto.ts
  BackEnd/src/live-workouts/matches/dto/update-match.dto.ts
  BackEnd/src/live-workouts/matches/entities/match.entity.ts
  BackEnd/src/live-workouts/matches/matches.controller.spec.ts
  BackEnd/src/live-workouts/matches/matches.controller.ts
  BackEnd/src/live-workouts/matches/matches.module.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
  package-lock.json
Labels: 💻백엔드, 🔨 구현

#147 [GWL-137] Workout API 수정, 테스트 코드 작성 및 Swagger 수정
  BackEnd/src/admin/entities/admin.entity.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/matches/dto/random-match.dto.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/workouts/dto/workout-response.dto.ts
  BackEnd/src/workouts/workouts.controller.ts
  BackEnd/src/workouts/workouts.module.ts
  BackEnd/src/workouts/workouts.service.spec.ts
  BackEnd/src/workouts/workouts.service.ts
Labels: 🔧 개선, 💻백엔드

#148 [GWL-142] 운동 시작 3,2,1 타이머 뷰컨트롤러 구현하기
  iOS/Projects/Features/Record/Sources/Domain/Entities/PeerType.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSetting.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutType.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/CountDownBeforeWorkoutStartTimerUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutEnvironmentSetUpCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSessionCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutEnvironmentSetUpCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewController/CountDownBeforeWorkoutViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewModel/CountDownBeforeWorkoutViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewModel/WorkoutEnvironmentSetupViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewModel/WorkoutPeerRandomMatchingViewModel.swift
Labels: 📱 iOS, ⭐️ 높음

#154 [GWL-150] Keychain 모듈 작성
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/App/WeTri/WeTri.entitlements
  iOS/Projects/Core/Keychain/Project.swift
  iOS/Projects/Core/Keychain/Sources/Keychain.swift
  iOS/Projects/Core/Keychain/Sources/Protocol/KeyChaining.swift
  iOS/Projects/Core/Keychain/Tests/KeychainTests.swift
  iOS/Projects/Core/Keychain/Tests/Mock/MockKeychain.swift
Labels: 📱 iOS, 🌟 중간, 🔨 구현

#149 [GWL-146] 운동기록화면 Custom Calendar 비즈니스 로직 구현
  iOS/Projects/Features/Record/Sources/Data/MockRepositories/Records.json
  iOS/Projects/Features/Record/Sources/Domain/Entities/DateInfo.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/DateProvideUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/DateProvideUseCaseRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/RecordUpdateUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/CalendarCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordCalendarViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewModel/RecordCalendarViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewModel/RecordListViewModel.swift
Labels: 📱 iOS, ⭐️ 높음, 🔨 구현

#152 [GWL-123] feat: 서버 room 관련 기능 구현
  BackEnd/package-lock.json
  BackEnd/package.json
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/events/events.module.ts
  BackEnd/src/live-workouts/events/extensionWebSocket.service.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocket.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocketServer.ts
  BackEnd/src/live-workouts/events/guard/events-jwt.guard.ts
  BackEnd/src/live-workouts/events/types/custom-websocket.type.ts
  BackEnd/src/workouts/workouts.service.spec.ts
Labels: 💻백엔드

#161 [GWL-13] HealthKit 연동 - 데이터 파싱, bind(to:) 수정, entitlements 설정
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/App/WeTri/WeTri.entitlements
  iOS/Projects/Core/HealthKit/Project.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/HealthRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutHealth.swift
  iOS/Projects/Features/Record/Sources/Domain/Interfaces/Repositories/HealthRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutSessionUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/SessionParticipantCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
  iOS/Projects/Shared/CombineCocoa/Sources/Publisher+bind.swift
  iOS/Projects/Shared/CombineCocoa/Tests/Publisher+bindErrorTests.swift
  iOS/Projects/Shared/CombineCocoa/Tests/Publisher+bindTests.swift
  iOS/Tuist/ProjectDescriptionHelpers/Target+Templates.swift
Labels: 📱 iOS, 🔨 구현

#160 [GWL-151] 웹소캣 AuthGuard 구현 -> 검증 verify 메서드 구현
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/events/events.module.ts
  BackEnd/src/live-workouts/events/guard/events-jwt.guard.ts
  BackEnd/src/live-workouts/events/types/custom-websocket.type.ts
Labels: 💻백엔드, 🔨 구현

#153 [GWL-10]운동 세션화면 스톱워치 설정하기 (UseCase로 구현 완료, 테스트코드 작성)
  iOS/Projects/Features/Record/Sources/Domain/UseCases/CountDownBeforeWorkoutStartTimerUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/OneSecondsTimerUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/TimerUseCase.swift
  iOS/Projects/Features/Record/Tests/TimerTest.swift
Labels: 📱 iOS, ⭐️ 높음

#163 [GWL-156] 애플로그인 버튼 및 비즈니스 로직 구현
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Core/Keychain/Sources/Protocol/KeyChaining.swift
  iOS/Projects/Features/Login/Project.swift
  iOS/Projects/Features/Login/Sources/Data/DTO/AuthorizationInfoRequestDTO.swift
  iOS/Projects/Features/Login/Sources/Data/DTO/GWResponse.swift
  iOS/Projects/Features/Login/Sources/Data/Repositories/AuthorizationRepository.swift
  iOS/Projects/Features/Login/Sources/Data/Repositories/KeychainRepository.swift
  iOS/Projects/Features/Login/Sources/Domain/Entity/AuthorizationInfo.swift
  iOS/Projects/Features/Login/Sources/Domain/Entity/Token.swift
  iOS/Projects/Features/Login/Sources/Domain/Interfaces/Repositories/AuthorizationRepositoryRepresentable.swift
  iOS/Projects/Features/Login/Sources/Domain/Interfaces/Repositories/KeychainRepositoryRepresentable.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/AuthorizeUseCase.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/Protocol/AuthorizeUseCaseRepresentable.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/LoginViewController.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/Projects/Features/Login/Tests/LoginFeatureTests.swift
  iOS/Tuist/Templates/Feature/Feature.swift
Labels: 📱 iOS, ⭐️ 높음, 🔨 구현

#172 [GWL-158] redis 연결, redis 룸에 참가, 떠나기 ,redis pub/sub을 이용해서 브로드캐스트
  BackEnd/src/app.module.ts
  BackEnd/src/common/redis.module.ts
  BackEnd/src/config/redis.config.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/events/extensionWebSocket.service.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocket.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocketServer.ts
  BackEnd/src/live-workouts/events/types/custom-websocket.type.ts
  BackEnd/src/live-workouts/matches/matches.module.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 💻백엔드

#167 [GWL-155] RecordFeture coordinating 화면 연결
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutEnvironmentSetUpCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSessionCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutEnvironmentSetUpCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewController/CountDownBeforeWorkoutViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewModel/CountDownBeforeWorkoutViewModel.swift
Labels: 📱 iOS

#169 [GWL-164] Keychain 싱글톤 변경
  iOS/Projects/Core/Keychain/Sources/Keychain.swift
Labels: 🔧 개선, 📱 iOS

#171 [GWL-156] 애플로그인 버튼 및 비즈니스 로직 구현
  iOS/Projects/Features/Login/Sources/Data/Repositories/AuthorizationRepository.swift
  iOS/Projects/Features/Login/Sources/Data/Repositories/KeychainRepository.swift
Labels: 🔧 개선, 🐛 버그, 📱 iOS

#179 [GWL-166] Workouts API에 icon 이미지 컬럼 추가, Swagger 수정
  BackEnd/src/workouts/dto/workout-response.dto.ts
  BackEnd/src/workouts/entities/workout.entity.ts
  BackEnd/src/workouts/workouts.service.spec.ts
Labels: 🔧 개선, 💻백엔드

#177 [GWL-162] Trinet 소켓 Providable 추가 + 테스트 코드 추가
  iOS/Projects/App/WeTri/Sources/AScene/ViewController/AViewController.swift
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/App/WeTri/Sources/CScene/ViewController/CViewController.swift
  iOS/Projects/Core/Network/Sources/MockWebSocketSession.swift
  iOS/Projects/Core/Network/Sources/TNSocketProvider.swift
  iOS/Projects/Core/Network/Sources/URLSessionWebSocketProtocol.swift
  iOS/Projects/Core/Network/Sources/WebSocketTaskProtocol.swift
  iOS/Projects/Core/Network/Tests/SessionWebSocketProtocolTests.swift
  iOS/Tuist/ProjectDescriptionHelpers/Target+Templates.swift
Labels: 📱 iOS

#181 [GWL-174] Matches API nickname -> publicId로 수정
  BackEnd/src/live-workouts/matches/dto/random-match.dto.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 🔧 개선, 💻백엔드

#182 [GWL-138] Record API 수정 및 Swagger 수정
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.controller.ts
Labels: 🔧 개선, 💻백엔드

#185 [GWL-173] [Feat]: uuid -> publicId, 매칭 후 매칭되었는지 Redis Room 확인, workout_session 이벤트 생성해서 해당 이벤트로 전달받으면 룸에 브로드캐스트 하기
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/config/redis.config.ts
  BackEnd/src/live-workouts/events/dto/checkMatching.dto.ts
  BackEnd/src/live-workouts/events/dto/create-event.dto.ts
  BackEnd/src/live-workouts/events/dto/update-event.dto.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/events/events.service.spec.ts
  BackEnd/src/live-workouts/events/events.service.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocket.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocketServer.ts
  BackEnd/src/live-workouts/events/types/custom-websocket.type.ts
  BackEnd/src/workouts/dto/workout-response.dto.ts
Labels: 🔧 개선, 💻백엔드, 🔨 구현

#191 [GWL-187] identity token 검증 후, 회원가입 여부 판별, 첫 로그인시 redirect url response
  BackEnd/src/auth/auth-apple.service.ts
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/decorator/apple-token.decorator.ts
  BackEnd/src/auth/dto/auth-response.dto.ts
  BackEnd/src/auth/dto/getUserByUserIdAndProvider.dto.ts
  BackEnd/src/auth/dto/signin.dto.ts
  BackEnd/src/auth/dto/signinRedirectRes.dto.ts
  BackEnd/src/auth/dto/signup.dto.ts
  BackEnd/src/auth/exceptions/auth.exception.ts
  BackEnd/src/config/jwksApple.config.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/events/extensions/extensionWebSocketServer.ts
  BackEnd/src/live-workouts/matches/matches.module.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/users/users.service.ts
  BackEnd/src/workouts/workouts.module.ts
Labels: 💻백엔드, 🔨 구현

#193 [GWL-192] fix: record table에 workoutId 추가, accessToken, refreshToken 만료, 변조 exception 처리
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/exceptions/auth.exception.ts
  BackEnd/src/records/entities/records.entity.ts
Labels: 🔧 개선, 💻백엔드
