Repository boostcampwm2023/iOS08-WeTri, pull requests merged in 2023-12, with the labels that each got.

#190 [GWL-186] 운동 날짜별 조회 API 명세에 따라 수정
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Features/Record/Resources/Persistency/Records.json
  iOS/Projects/Features/Record/Sources/Data/DTO/DateRequestDTO.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/RecordResponseDTO.swift
  iOS/Projects/Features/Record/Sources/Data/MockRepositories/MockWorkoutRecordsRepository.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutRecordsRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/Record.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutMode.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/WorkoutInformationCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
Labels: 📱 iOS, 🔨 구현

#199 [GWL-198] Combine Extension, CombineCocoa 분리, tuist build ci 추가
  .github/workflows/iOS_CI.yml
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/Features/Onboarding/Sources/Presentaion/ViweController/OnboardingViewController.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutSessionUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewController/WorkoutPeerRandomMatchingViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
  iOS/Projects/Shared/CombineExtension/Project.swift
  iOS/Projects/Shared/CombineExtension/Sources/Publisher+bind.swift
  iOS/Projects/Shared/CombineExtension/Sources/Publisher+withLatestFrom.swift
  iOS/Projects/Shared/CombineExtension/Sources/withUnretained.swift
  iOS/Projects/Shared/CombineExtension/Tests/Publisher+WithLatestFromTests.swift
  iOS/Projects/Shared/CombineExtension/Tests/Publisher+bindErrorTests.swift
  iOS/Projects/Shared/CombineExtension/Tests/Publisher+bindTests.swift
Labels: 🔧 개선, 📱 iOS

#204 [GWL-176] Profile API를 구현한다.
  BackEnd/public/index.html
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/dto/signup.dto.ts
  BackEnd/src/auth/guard/bearerToken.guard.ts
  BackEnd/src/images/images.module.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/profiles/dto/create-profile.dto.ts
  BackEnd/src/profiles/dto/update-profile.dto.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/profiles/exception/profile.exception.ts
  BackEnd/src/profiles/profiles.controller.ts
  BackEnd/src/profiles/profiles.module.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/users/users.service.ts
Labels: 💻백엔드, 🔨 구현

#200 [GWL-85] 서버 구조에 맞게 웹 소켓 연동
  iOS/Projects/Core/Network/Sources/MockWebSocketSession.swift
  iOS/Projects/Core/Network/Tests/SessionWebSocketProtocolTests.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutRealTimeModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/SessionParticipantCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/WorkoutSessionViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
Labels: 📱 iOS

#222 [GWL-215] pagination 구현, post 게시물 생성, pagination으로 게시물 가져오기
  BackEnd/src/app.module.ts
  BackEnd/src/common/common.module.ts
  BackEnd/src/common/common.service.ts
  BackEnd/src/common/const/orm-operation.const.ts
  BackEnd/src/common/dto/base-pagination.dto.ts
  BackEnd/src/common/redis.module.ts
  BackEnd/src/common/type/base-model.type.ts
  BackEnd/src/main.ts
  BackEnd/src/posts/dto/create-post.dto.ts
  BackEnd/src/posts/dto/get-post-response.dto.ts
  BackEnd/src/posts/dto/paginate-post.dto.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/posts/exceptions/posts.exception.ts
  BackEnd/src/posts/posts.controller.ts
  BackEnd/src/posts/posts.module.ts
  BackEnd/src/posts/posts.service.ts
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/records/records.module.ts
  BackEnd/src/records/records.service.ts
  BackEnd/src/workouts/exceptions/workouts.exception.ts
  BackEnd/src/workouts/workouts.module.ts
  BackEnd/src/workouts/workouts.service.ts
Labels: 💻백엔드

#206 [GWL-202] 캘린더 데이터 캐싱, 캐시 모듈 생성
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/Core/Cacher/Project.swift
  iOS/Projects/Core/Cacher/Sources/CacheManager.swift
  iOS/Projects/Core/Cacher/Sources/Cacher.swift
  iOS/Projects/Core/Cacher/Tests/CacherTest.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutRecordsRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Interfaces/Repositories/WorkoutRecordsRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/DateProvideUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/DateProvideUseCaseRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/RecordUpdateUseCaseRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/RecordUpdateUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewModel/RecordListViewModel.swift
Labels: 📱 iOS, 🔨 구현

#224 [GWL-201] 프로필 화면 구현
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Core/Coordinator/Sources/CoordinatorFlow.swift
  iOS/Projects/Features/Profile/Project.swift
  iOS/Projects/Features/Profile/Resources/Persistency/GetProfile.json
  iOS/Projects/Features/Profile/Sources/Data/DTO/GWResponse.swift
  iOS/Projects/Features/Profile/Sources/Data/DTO/ProfileDTO.swift
  iOS/Projects/Features/Profile/Sources/Data/Repositories/ProfileRepository.swift
  iOS/Projects/Features/Profile/Sources/Domain/Entities/Profile.swift
  iOS/Projects/Features/Profile/Sources/Domain/Interfaces/ProfileRepositoryRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/ProfileUseCase.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/Protocol/ProfileUseCaseRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/Coordinator/ProfileCoordinator.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/Coordinator/Protocol/ProfileCoordinating.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileHeaderView.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfilePostCell.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileViewModel.swift
  iOS/Projects/Features/Profile/Tests/ProfileFeatureTests.swift
  iOS/Projects/Shared/DesignSystem/Resources/Images.xcassets/NoResults.imageset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Images.xcassets/NoResults.imageset/No Results.svg
  iOS/Projects/Shared/DesignSystem/Resources/Images.xcassets/Pencil.imageset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Images.xcassets/Pencil.imageset/Pencil.svg
  iOS/Projects/Shared/DesignSystem/Sources/GWProfileButton.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIImage+assets.swift
Labels: 📱 iOS, 🔨 구현

#226 [GWL-223] feat: Post api 마무리 하기
  BackEnd/src/posts/dto/delete-post-response.dto.ts
  BackEnd/src/posts/dto/get-post-response.dto.ts
  BackEnd/src/posts/dto/get-posts-response.dto.ts
  BackEnd/src/posts/dto/update-post.dto.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/posts/exceptions/posts.exception.ts
  BackEnd/src/posts/posts.controller.ts
  BackEnd/src/posts/posts.service.ts
  BackEnd/src/users/users.controller.ts
  BackEnd/src/users/users.module.ts
Labels: 💻백엔드

#234 [GWL-228] profile api 수정, 애플 로그인 응답 수정
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/dto/signinRedirectRes.dto.ts
  BackEnd/src/main.ts
  BackEnd/src/posts/dto/delete-post-response.dto.ts
  BackEnd/src/posts/dto/get-posts-response.dto.ts
  BackEnd/src/profiles/dto/create-profile.dto.ts
  BackEnd/src/profiles/dto/get-profile-posts-response.dto.ts
  BackEnd/src/profiles/dto/get-profile-response.dto.ts
  BackEnd/src/profiles/dto/paginate-profile-post.dto.ts
  BackEnd/src/profiles/entities/profiles.entity.ts
  BackEnd/src/profiles/profiles.controller.ts
  BackEnd/src/profiles/profiles.module.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/users/exceptions/users.exception.ts
  BackEnd/src/users/users.controller.ts
  BackEnd/src/users/users.module.ts
  BackEnd/src/users/users.service.ts
Labels: 💻백엔드

#237 [GWL-236] RecordList 다크모드 개선
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/CalendarCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/WorkoutInformationCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/View/NoRecordsView.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordCalendarViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
Labels: 🔧 개선, 📱 iOS

#225 [GWL-221] 칼만 필터 구현
  iOS/Projects/App/WeTri/Sources/CScene/Coordinator/CCoordinator.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/KalmanFilterCensored.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/KalmanFilterUpdateRequireElement.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/Matrix.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/KalmanFilter.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/KalmanUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
Labels: 📱 iOS

#239 [GWL-231] 회원가입 ContainerViewController 구현
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/SignUp/Sources/ViewController/SignUpContainerViewController.swift
  iOS/Projects/Features/SignUp/Sources/ViewController/SignUpGenderBirthViewController.swift
  iOS/Projects/Features/SignUp/Sources/ViewController/SignUpProfileViewController.swift
Labels: 📱 iOS, 🔨 구현

#214 [GWL-175] NCP를 활용한 자동 배포 테스트
  .github/workflows/BackEnd_CD_DEV.yml
  .github/workflows/BackEnd_CD_PROD.yml
Labels: 🔧 개선, 💻백엔드

#246 [GWL-232] 회원가입 성별, 생년월일 비즈니스 로직 작성
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/Gender.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/User.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/DateFormatUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/DateFormmattingUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/UIButton+.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpContainerScene/SignUpContainerViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/SignUpGenderBirthViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/View/DatePickerBoxView.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/ViewModel/SignUpGenderBirthViewModel.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/View/NickNameBoxView.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/View/NickNameCheckerView.swift
Labels: 📱 iOS, 🔨 구현

#242 [GWL-241] fix: paginate response metadata 수정
  BackEnd/src/common/common.service.ts
  BackEnd/src/main.ts
  BackEnd/src/posts/dto/get-post-response.dto.ts
  BackEnd/src/posts/dto/get-posts-response.dto.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/posts/posts.service.ts
  BackEnd/src/profiles/dto/get-profile-posts-response.dto.ts
  BackEnd/src/records/records.service.ts
Labels: 💻백엔드

#248 [GWL-212] Workouts API 테스트 코드 작성 및 리팩토링
  BackEnd/src/admin/admin.controller.ts
  BackEnd/src/admin/admin.module.ts
  BackEnd/src/admin/admin.service.ts
  BackEnd/src/auth/auth-apple.service.ts
  BackEnd/src/auth/auth.module.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/dto/auth-response.dto.ts
  BackEnd/src/auth/dto/getUserByUserIdAndProvider.dto.ts
  BackEnd/src/auth/dto/signinRedirectRes.dto.ts
  BackEnd/src/common/redis.module.ts
  BackEnd/src/live-workouts/matches/matches.module.ts
  BackEnd/src/posts/dto/delete-post-response.dto.ts
  BackEnd/src/posts/dto/get-post-response.dto.ts
  BackEnd/src/posts/dto/get-posts-response.dto.ts
  BackEnd/src/posts/dto/paginate-post.dto.ts
  BackEnd/src/posts/posts.controller.ts
  BackEnd/src/posts/posts.module.ts
  BackEnd/src/posts/posts.service.ts
  BackEnd/src/profiles/dto/get-profile-posts-response.dto.ts
  BackEnd/src/profiles/dto/get-profile-response.dto.ts
  BackEnd/src/profiles/dto/paginate-profile-post.dto.ts
  BackEnd/src/profiles/profiles.module.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/records.controller.ts
  BackEnd/src/records/records.module.ts
  BackEnd/src/users/users.controller.ts
  BackEnd/src/users/users.module.ts
  BackEnd/src/users/users.service.ts
  BackEnd/src/workouts/dto/workout-response.dto.spec.ts
  BackEnd/src/workouts/dto/workout-response.dto.ts
  BackEnd/src/workouts/entities/workout.entity.spec.ts
  BackEnd/src/workouts/entities/workout.entity.ts
  BackEnd/src/workouts/exceptions/workouts.exception.ts
  BackEnd/src/workouts/workouts.controller.spec.ts
  BackEnd/src/workouts/workouts.controller.ts
  BackEnd/src/workouts/workouts.module.ts
  BackEnd/src/workouts/workouts.service.spec.ts
  BackEnd/src/workouts/workouts.service.ts
Labels: 🔧 개선, 💻백엔드

#240 [GWL-201] Empty State View + 게시물 가져오기 Mock Data 테스트, 페이지네이션
  iOS/Projects/Features/Profile/Project.swift
  iOS/Projects/Features/Profile/Resources/Persistency/GetPosts.json
  iOS/Projects/Features/Profile/Resources/Persistency/GetProfile.json
  iOS/Projects/Features/Profile/Sources/Data/DTO/PostsRequestDTO.swift
  iOS/Projects/Features/Profile/Sources/Data/DTO/PostsResponseDTO.swift
  iOS/Projects/Features/Profile/Sources/Data/DTO/ProfileDTO.swift
  iOS/Projects/Features/Profile/Sources/Data/Repositories/ProfileRepository.swift
  iOS/Projects/Features/Profile/Sources/Domain/Interfaces/ProfileRepositoryRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/ProfileUseCase.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/Protocol/ProfileUseCaseRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/Coordinator/ProfileCoordinator.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/PostsEmptyStateView.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileLayouts/CompositionalLayoutSugarMethods.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileLayouts/SectionItem.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfilePostCell.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileViewModel.swift
Labels: 📱 iOS, 🔨 구현

#250 [GWL-247] [Feat]: paginate 함수에 find (FindManyOptions) -> queryBuilder로 바꾸기
  BackEnd/src/common/common.service.ts
  BackEnd/src/common/type/query-options.type.ts
  BackEnd/src/posts/dto/get-create-update-post-response.dto.ts
  BackEnd/src/posts/dto/get-posts-response.dto.ts
  BackEnd/src/posts/posts.controller.ts
  BackEnd/src/posts/posts.service.ts
  BackEnd/src/posts/queryOptions/get-create-update.queryOptions.ts
  BackEnd/src/profiles/profiles.controller.ts
  BackEnd/src/profiles/profiles.service.ts
  BackEnd/src/profiles/queryOptions/get-profilePosts-queryOptions.ts
Labels: 💻백엔드

#249 [GWL-245] UserInformationManager 구현
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/Core/Cacher/Sources/MemoryCacheManager.swift
  iOS/Projects/Features/Record/Project.swift
  iOS/Projects/Shared/UserInformationManager/Project.swift
  iOS/Projects/Shared/UserInformationManager/Resources/DefaultsProfileImage.png
  iOS/Projects/Shared/UserInformationManager/Sources/UserInformationManager.swift
Labels: 📱 iOS, 🔨 구현

#251 [GWL-207] 이미지 업로드 API 테스트 코드 작성 및 리팩토링
  BackEnd/src/images/dto/images.response.spec.ts
  BackEnd/src/images/dto/images.response.ts
  BackEnd/src/images/exceptions/images.exception.ts
  BackEnd/src/images/images.controller.ts
  BackEnd/src/images/images.service.spec.ts
  BackEnd/src/images/images.service.ts
  BackEnd/src/images/intercepters/wetri-files.interceptor.ts
  BackEnd/src/images/pipe/validate-files.pip.spec.ts
  BackEnd/src/images/pipe/validate-files.pip.ts
  BackEnd/src/posts/dto/paginate-post.dto.ts
  BackEnd/src/workouts/dto/workout-response.dto.spec.ts
  BackEnd/src/workouts/entities/workout.entity.spec.ts
  BackEnd/src/workouts/entities/workout.entity.ts
Labels: 🔧 개선, 💻백엔드

#253 [GWL-219] 설정 화면 흐름 UI 구현
  iOS/Projects/Features/Profile/Sources/Presentation/Coordinator/ProfileCoordinator.swift
  iOS/Projects/Features/Profile/Sources/Presentation/Coordinator/Protocol/ProfileCoordinating.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileScene/ProfileViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileSettingsScene/ProfileSettingsHeaderView.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileSettingsScene/ProfileSettingsViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileSettingsScene/ProfileSettingsViewModel.swift
  iOS/Projects/Features/Profile/Sources/Presentation/SettingsScene/SettingsViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/SettingsScene/SettingsViewModel.swift
Labels: 📱 iOS, 🔨 구현

#238 [GWL-229]운동 매칭 이후 운동 session에 관한 데이터 넘겨주는 기능 구현
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/Features/Record/Resources/Persistency/MatchesCancel.json
  iOS/Projects/Features/Record/Resources/Persistency/MatchesRandom.json
  iOS/Projects/Features/Record/Resources/Persistency/MatchesStart.json
  iOS/Projects/Features/Record/Sources/Data/DTO/IsMatchedRandomPeersRequest.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/IsMatchedRandomPeersResponse.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/MatchStartRequest.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutEnvironmentSetupNetworkRepository.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutPeerRandomMatchingRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/Peer.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/SessionPeerType.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSessionElement.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSetting.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutType.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/OneSecondsTimerUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/WorkoutPeerRandomMatchingRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/TimerUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/UserInformationUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutEnvironmentSetupUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutPeerRandomMatchingUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Delegate/WorkoutSettingCoordinatorFinishDelegate.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/RecordFeatureCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutEnvironmentSetUpCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSessionCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutEnvironmentSetUpCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewController/CountDownBeforeWorkoutViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewModel/CountDownBeforeWorkoutViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewModel/WorkoutEnvironmentSetupViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewModel/WorkoutPeerRandomMatchingViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/SessionScene/SessionParticipantCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewModel.swift
  iOS/Projects/Shared/CommonNetworkingKeyManager/Sources/TNKeychainInterceptor.swift
  iOS/Projects/Shared/UserInformationManager/Sources/UserInformationManager.swift
Labels: 📱 iOS

#259 [GWL-255] LoginCoordinator 구현
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/Login/Project.swift
  iOS/Projects/Features/Login/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/Projects/Features/Login/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Projects/Features/Login/Resources/Assets.xcassets/Contents.json
  iOS/Projects/Features/Login/Resources/Persistency/InitialUser.json
  iOS/Projects/Features/Login/Resources/Persistency/Token.json
  iOS/Projects/Features/Login/Sources/Data/DTO/Response.swift
  iOS/Projects/Features/Login/Sources/Data/Repositories/AuthorizationRepository.swift
  iOS/Projects/Features/Login/Sources/Domain/Entity/InitialUser.swift
  iOS/Projects/Features/Login/Sources/Domain/Entity/Token.swift
  iOS/Projects/Features/Login/Sources/Domain/Interfaces/Repositories/AuthorizationRepositoryRepresentable.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/AuthorizeUseCase.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/Protocol/AuthorizeUseCaseRepresentable.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/Delegate/LoginDidFinishedDelegate.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/LoginCoordinator.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/LoginFeatureCoordinator.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/Protocol/LoginCoordinating.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/Protocol/LoginFeatureCoordinating.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/ViewModel/LoginViewModel.swift
Labels: 📱 iOS, 🔨 구현

#266 [GWL-265] fix: record entity 수정 mapCapture, gps 추가
  BackEnd/src/records/dto/create-exerciseLog.dto.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/entities/records.entity.ts
Labels: 💻백엔드

#263 [GWL-262] HomeView ContentImages 넘기는 것 구현
  iOS/Projects/Features/Home/Sources/Domain/Entity/FeedElement.swift
  iOS/Projects/Features/Home/Sources/Presntaion/HomeScene/VIew/FeedImageCell.swift
  iOS/Projects/Features/Home/Sources/Presntaion/HomeScene/VIew/FeedItemCollectionViewCell.swift
  iOS/Projects/Features/Home/Sources/Presntaion/HomeScene/ViewController/HomeViewController.swift
Labels: 📱 iOS, 🔨 구현

#270 [GWL-211] Matches API 테스트 코드 작성 및 리팩토링
  BackEnd/src/images/images.controller.ts
  BackEnd/src/images/intercepters/wetri-files.interceptor.ts
  BackEnd/src/live-workouts/matches/constant/matches.constant.ts
  BackEnd/src/live-workouts/matches/dto/create-match.dto.spec.ts
  BackEnd/src/live-workouts/matches/dto/random-match.dto.spec.ts
  BackEnd/src/live-workouts/matches/dto/random-match.dto.ts
  BackEnd/src/live-workouts/matches/matches.controller.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 🔧 개선, 💻백엔드

#264 [GWL-233] 회원가입 프로필 이미지, 닉네임 비즈니스로직 작성, Form-Data 로직 작성
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/Core/Coordinator/Sources/CoordinatorFlow.swift
  iOS/Projects/Core/Network/Sources/TNEndPoint.swift
  iOS/Projects/Core/Network/Sources/TNFormDataEndPoint.swift
  iOS/Projects/Features/SignUp/Project.swift
  iOS/Projects/Features/SignUp/Resources/Token.json
  iOS/Projects/Features/SignUp/Sources/Data/DTO/GWResponse.swift
  iOS/Projects/Features/SignUp/Sources/Data/DTO/SignUpUser.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/ImageFormRepository.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/KeyChainRepository.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/SignUpRepository.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/ImageForm.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/NewUserInformation.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/Token.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Interfaces/ImageFormRepositoryRepresentable.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Interfaces/KeyChainRepositoryRepresentable.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Interfaces/SignUpRepositoryRepresentable.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/ImageTransmitUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/NickNameCheckUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/SignUpUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/Protocol/SignUpFeatureCoordinating.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/Protocol/SingUpCoordinating.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/SignUpCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/SignUpFeatureCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Extension/UIButton+.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpContainerScene/SignUpContainerViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/SignUpGenderBirthViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/ViewModel/SignUpGenderBirthViewModel.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/View/NickNameBoxView.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/ViewModel/SignUpProfileViewModel.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWProfileButton.swift
Labels: 📱 iOS, 🔨 구현

#271 [GWL-267] Trinet Multipart/form-Data 기능 추가
  iOS/Projects/Core/Network/Sources/MultipartFormData.swift
Labels: 📱 iOS, 🔨 구현

#276 [Fix] 매칭 API matched 리턴 문제
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 🐛 버그, 💻백엔드

#278 fix: 15초를 더하는데 아닌 15분을 더하는 오류 수정
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 🐛 버그, 💻백엔드

#281 [GWL-280] 매칭 API의 자신을 표시하는 myPublicID 생성, events gateway 로깅
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/matches/dto/random-match.dto.ts
  BackEnd/src/live-workouts/matches/matches.service.spec.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 🐛 버그, 💻백엔드

#283 [GWL-282] Json 직렬화 문제, 연결할 때, 소켓에 나머지 인원이 들어오지 못하는 문제
  BackEnd/src/live-workouts/events/extensions/extensionWebSocketServer.ts
  BackEnd/src/live-workouts/matches/constant/matches.constant.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
Labels: 🐛 버그, 💻백엔드

#291 [Fix] 소켓 연결시 token에러 핸들링이 안되는 문제, record에 gps 컬럼이 255자였던 건 관하여
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/live-workouts/events/events.gateway.ts
  BackEnd/src/live-workouts/matches/matches.service.ts
  BackEnd/src/records/entities/records.entity.ts
Labels: 🐛 버그, 💻백엔드

#294 [Fix] 유저가 signup을 할 때, date 타입이 string이 아닌 문제 발생
  BackEnd/src/profiles/entities/profiles.entity.ts
Labels: 🐛 버그, 💻백엔드

#289 [GWL-274] fix: posts entity 수정, post response 변경
  BackEnd/src/common/mocks/mocks.ts
  BackEnd/src/posts/dto/create-post.dto.ts
  BackEnd/src/posts/dto/get-posts-response.dto.ts
  BackEnd/src/posts/dto/update-post.dto.ts
  BackEnd/src/posts/entities/posts.entity.ts
  BackEnd/src/posts/mocks/mocks.ts
  BackEnd/src/posts/posts.service.ts
  BackEnd/src/posts/queryOptions/get-create-update.queryOptions.ts
  BackEnd/src/profiles/dto/get-profile-posts-response.dto.ts
  BackEnd/src/profiles/profiles.service.ts
Labels: 💻백엔드

#296 [GWL-295] 배포서버와 개발서버 분리
  iOS/Makefile
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: 🔧 개선, 📱 iOS

#302 [GWL-300] 운동 세션 화면 버그 수정
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewModel.swift
Labels: 🔧 개선, 🐛 버그, 📱 iOS

#297 [GWL-268] 로그인 회원가입 연결 및 서버통신
  iOS/.swiftlint.yml
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/App/WeTri/Sources/Application/AppDelegate.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/Core/Network/Sources/Foundation/TNEndPoint.swift
  iOS/Projects/Core/Network/Sources/Multipart/MultipartFormData.swift
  iOS/Projects/Core/Network/Sources/Multipart/MultipartItem.swift
  iOS/Projects/Core/Network/Sources/Provider/TNProvidable.swift
  iOS/Projects/Features/Login/Project.swift
  iOS/Projects/Features/Login/Resources/Persistency/InitialUser.json
  iOS/Projects/Features/Login/Sources/Data/Repositories/AuthorizationRepository.swift
  iOS/Projects/Features/Login/Sources/Domain/Entity/InitialUser.swift
  iOS/Projects/Features/Login/Sources/Domain/Interfaces/Repositories/AuthorizationRepositoryRepresentable.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/Protocol/AuthorizeUseCaseRepresentable.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/Delegate/LoginDidFinishedDelegate.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/LoginCoordinator.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/LoginFeatureCoordinator.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/Protocol/LoginCoordinating.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/Protocol/LoginFeatureCoordinating.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/MapImageUploadRepository.swift
  iOS/Projects/Features/SignUp/Project.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/ImageFormRepository.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/KeyChainRepository.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/SignUpRepository.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/NewUserInformation.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/SignUpUser.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/Token.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Entities/User.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Interfaces/SignUpRepositoryRepresentable.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/DateFormmattingUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/SignUpUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/Protocol/SignUpFeatureCoordinating.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/SignUpCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/SignUpFeatureCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/ViewModel/SignUpProfileViewModel.swift
  iOS/Projects/Shared/Auth/Project.swift
  iOS/Projects/Shared/Auth/Sources/AuthProvider.swift
  iOS/Projects/Shared/Auth/Sources/Token.swift
Labels: 📱 iOS, 🔨 구현

#314 [Fix] records 조회에서 workouts 이름이 누락되는 문제, 로그인시 엑세스 토큰을 받고, 리프래쉬 토큰을 받을 때, 타임아웃 이 걸리는 문제
  BackEnd/src/config/typeorm.config.ts
  BackEnd/src/records/dto/record-response.dto.ts
  BackEnd/src/records/entities/records.entity.ts
  BackEnd/src/records/records.service.ts
Labels: 🐛 버그, 💻백엔드

#318 [GWL-303] 로고 추가된 로그인 화면 UI 작성
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/LoginViewController.swift
Labels: 📱 iOS, 🔨 구현

#322 [GWL-305] 이미지 다운샘플링 적용
  iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Target.swift
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/Coordinator/LoginFeatureCoordinator.swift
  iOS/Projects/Features/SignUp/Project.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/ViewModel/SignUpProfileViewModel.swift
  iOS/Projects/Shared/DesignSystem/Sources/GWProfileButton.swift
  iOS/Projects/Shared/ImageDownsampling/Project.swift
  iOS/Projects/Shared/ImageDownsampling/Sources/Data+downsampling.swift
  iOS/Projects/Shared/ImageDownsampling/Sources/ImageDownSamplingError.swift
  iOS/Projects/Shared/ImageDownsampling/Sources/Scale.swift
  iOS/Projects/Shared/ImageDownsampling/Sources/UIImage+downsampling.swift
Labels: 📱 iOS, 🔨 구현

#301 [GWL-299]지도 스크린샷 할 떄 PolyLine을 그리는 기능 추가
  iOS/Projects/App/WeTri/Project.swift
  iOS/Projects/App/WeTri/Sources/Application/AppDelegate.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/MapRegion.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutMode.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutRealTimeModel.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/MapImageUploadUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewModel/WorkoutEnvironmentSetupViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewModel/WorkoutPeerRandomMatchingViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
Labels: 📱 iOS, 🔨 구현

#317 [GWL-307] 운동 요약 화면 내 버그 수정
  iOS/Projects/Features/Record/Sources/Data/DTO/WorkoutSummaryDTO.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutSummaryRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSummaryModel.swift
  iOS/Projects/Features/Record/Sources/Domain/Interfaces/Repositories/WorkoutSummaryRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/LocationPathUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/LocationPathUseCaseRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutSummaryUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/Protocol/WorkoutSessionCoordinating.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryCardView.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryViewModel.swift
Labels: 🔧 개선, 📱 iOS

#309 [GWL-298] 닉네임 중복 검사 api
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/profiles/dto/get-nickname-availability.dto.ts
  BackEnd/src/profiles/profiles.controller.ts
  BackEnd/src/profiles/profiles.service.ts
Labels: 💻백엔드

#321 [Feat]: WorkoutEnvironmentViewController popGestgure 버그 수정
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutEnvironmentSetUpCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutSelectViewController.swift
Labels: 📱 iOS, 🔨 구현

#327 [GWL-326] 회원가입 완료버튼 활성화 안되는 현상 개선
  iOS/Projects/App/WeTri/Sources/Application/AppDelegate.swift
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/ViewModel/SignUpProfileViewModel.swift
Labels: 🐛 버그, 📱 iOS

#337 [GWL-332] 운동 요약 화면 중 경로 화면 확대되는 증상 수정
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryCardView.swift
Labels: 🔧 개선, 📱 iOS

#328 [GWL-312] UserDefatuls를 통한 프로필 이미지 및, 닉네임 저장 하는 UseCase연결
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/Features/SignUp/Project.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/SignUpUserDefaultsManagerUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/Common/Coordinator/SignUpFeatureCoordinator.swift
  iOS/Projects/Shared/UserInformationManager/Sources/UserInformationManager.swift
Labels: 📱 iOS, 🔨 구현

#330 [GWL-329] Match를 취소 할 때 WorkoutID(운동 번호)를 기재하여 요청
  iOS/Projects/Features/Record/Sources/Data/DTO/MatchCancelRequest.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutPeerRandomMatchingRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/WorkoutPeerRandomMatchingRepositoryRepresentable.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/WorkoutPeerRandomMatchingUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewModel/WorkoutPeerRandomMatchingViewModel.swift
Labels: 📱 iOS, 🔨 구현

#333 [GWL-331] LocationData가 Polyline을 그릴 수 없을 만큼 데이터 갯수가 작을 때 FatalError가 발생하는 버그 수정
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewModel.swift
  iOS/Projects/Shared/CommonNetworkingKeyManager/Sources/TNKeychainInterceptor.swift
Labels: 🐛 버그, 📱 iOS

#339 [GWL-336] fix: appleSignIn 응답 값에 따른 http code 설정
  BackEnd/src/auth/auth.controller.ts
  BackEnd/src/auth/auth.service.ts
  BackEnd/src/auth/exceptions/auth.exception.ts
  BackEnd/src/common/exceptionFilters/httpException.filter.ts
Labels: 🐛 버그

#338 [GWL-320] ResponseCode에 따른 이미지 재설정 얼럿 추가
  iOS/Projects/App/WeTri/Sources/Application/AppDelegate.swift
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/ImageFormRepository.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/ViewModel/SignUpProfileViewModel.swift
Labels: 📱 iOS, 🔨 구현

#335 [GWL-334] 카운트다운 화면, WorkoutSession, WorkoutSummery 화면에서 TabBar 보이는 버그 수정
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/WorkoutSessionCoordinator.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewController/CountDownBeforeWorkoutViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/CountDownBeforeWorkoutScene/ViewModel/CountDownBeforeWorkoutViewModel.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutEnvironmentSetupViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutSelectViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
Labels: 🐛 버그, 📱 iOS

#342 [GWL-315] record @UseGuard 추가
  BackEnd/src/records/records.controller.ts
Labels: 🔧 개선, 💻백엔드

#341 [GWL-340] 기록이 존재하지않을 때, 보여줘야하는 커스텀뷰가 안나타나는 현상 개선
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutRecordsRepository.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewModel/RecordListViewModel.swift
Labels: 🔧 개선, 📱 iOS

#347 [GWL-346] Login KeyChain 오작동 개선, Gender버튼 높이 변경
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Features/Login/Sources/Data/Repositories/KeychainRepository.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/AuthorizeUseCase.swift
  iOS/Projects/Features/Record/Sources/Presentation/Common/Coordinator/RecordFeatureCoordinator.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/SignUpGenderBirthViewController.swift
Labels: 🐛 버그, 📱 iOS

#352 [GWL-351] 프로필 API 변경에 따른 코드 수정 + 로그아웃 기능 추가
  iOS/Projects/App/WeTri/Sources/CommonScene/Coordinator/AppCoordinator.swift
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Features/Profile/Project.swift
  iOS/Projects/Features/Profile/Sources/Data/DTO/PostsRequestDTO.swift
  iOS/Projects/Features/Profile/Sources/Data/DTO/PostsResponseDTO.swift
  iOS/Projects/Features/Profile/Sources/Data/Repositories/KeychainRepository.swift
  iOS/Projects/Features/Profile/Sources/Data/Repositories/ProfileRepository.swift
  iOS/Projects/Features/Profile/Sources/Domain/Interfaces/KeychainRepositoryRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/LogoutUseCase.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/Protocol/LogoutUseCaseRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Presentation/Coordinator/ProfileCoordinator.swift
  iOS/Projects/Features/Profile/Sources/Presentation/SettingsScene/SettingsViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/SettingsScene/SettingsViewModel.swift
Labels: 🔧 개선, 📱 iOS, 🔨 구현

#354 [GWL-353] 프로필 설정 화면 시 사용자 정보 데이터 파싱
  iOS/Projects/App/WeTri/Sources/TabBarScene/Coordinator/TabBarCoordinator.swift
  iOS/Projects/Features/Profile/Project.swift
  iOS/Projects/Features/Profile/Sources/Data/Repositories/ProfileSettingsRepository.swift
  iOS/Projects/Features/Profile/Sources/Domain/Entities/Profile.swift
  iOS/Projects/Features/Profile/Sources/Domain/Interfaces/ProfileSettingsRepositoryRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/ProfileSettingsUseCase.swift
  iOS/Projects/Features/Profile/Sources/Domain/UseCases/Protocol/ProfileSettingsUseCaseRepresentable.swift
  iOS/Projects/Features/Profile/Sources/Presentation/Coordinator/ProfileCoordinator.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileSettingsScene/ProfileSettingsHeaderView.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileSettingsScene/ProfileSettingsViewController.swift
  iOS/Projects/Features/Profile/Sources/Presentation/ProfileSettingsScene/ProfileSettingsViewModel.swift
Labels: 🔧 개선, 📱 iOS

#358 [GWL-355] ipa 파일 배포
  BackEnd/public/index.html
Labels: 💻백엔드, 🔨 구현

#357 버그 수정
  .github/workflows/BackEnd_CD_PROD.yml
  iOS/Projects/Features/Login/Sources/Domain/Entity/InitialUser.swift
  iOS/Projects/Features/Login/Sources/Presentation/LoginScene/LoginViewController.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutSummaryRepository.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSessionElement.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutEnvironmentScene/ViewController/WorkoutSelectViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Shared/UserInformationManager/Sources/UserInformationManager.swift
Labels: 🌎 공통

#366 [GWL-364] Production 배포 yml 수정!
  .github/workflows/BackEnd_CD_PROD.yml
  BackEnd/public/index.html
Labels: 🐛 버그, 💻백엔드

#363 [GWL-359] 닉네임 관련 버그 픽스
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/View/NickNameBoxView.swift
Labels: 🔧 개선, 📱 iOS

#376 [GWL-364] Production 배포 파일 수정
  .github/workflows/BackEnd_CD_PROD.yml
  BackEnd/public/index.html
Labels: 🐛 버그, 💻백엔드

#379 [GWL-378] feat: isOptional()추가
  BackEnd/src/records/entities/records.entity.ts
Labels: 🔧 개선

#368 [GWL-367] 운동 요약 화면 - 심박수 UI 제거
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryCardView.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSummaryScene/WorkoutSummaryViewController.swift
  iOS/Projects/Shared/DesignSystem/Resources/Images.xcassets/MapEmptyState.imageset/Contents.json
  iOS/Projects/Shared/DesignSystem/Resources/Images.xcassets/MapEmptyState.imageset/MapEmptyState.svg
  iOS/Projects/Shared/DesignSystem/Sources/UIImage+assets.swift
  iOS/Projects/Shared/Log/Sources/Logger.swift
Labels: 🔧 개선, 📱 iOS

#382 [GWL-380] 에러메세지가 문자열이 아닌 버그
  BackEnd/src/common/exceptionFilters/httpException.filter.ts
Labels: 🐛 버그, 💻백엔드

#371 [GWL-361] 생년월일 DatePicker 현재날짜 이후 선택되는 현상 개선
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpGenderBirthScene/SignUpGenderBirthViewController.swift
Labels: 🔧 개선, 📱 iOS

#372 [GWL-362] 앨범에서 이미지 선택 시, 이미지피커가 사라지지 않는 문제 개선
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
Labels: 🔧 개선, 📱 iOS

#377 [GWL-374] 폴리라인이 그려지지 않던 버그 수정
  iOS/Projects/Features/Record/Sources/Data/DTO/WorkoutSummaryDTO.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutDataForm.swift
  iOS/Projects/Features/Record/Sources/Domain/Entities/WorkoutSummaryModel.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/MapImageUploadUseCase.swift
  iOS/Projects/Features/Record/Sources/Domain/UseCases/Protocol/MapImageUploadUseCaseRepresentable.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/RouteMapScene/WorkoutRouteMapViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutSessionGroupScene/WorkoutSessionContainerViewController.swift
Labels: 📱 iOS, 🔨 구현

#384 [GWL-375] 운동 기록 리스트 fetching 안되는 버그 수정
  iOS/Projects/Features/Record/Resources/Persistency/Records.json
  iOS/Projects/Features/Record/Sources/Data/DTO/RecordResponseDTO.swift
  iOS/Projects/Features/Record/Sources/Data/Repositories/WorkoutRecordsRepository.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/CollectionViewCell/WorkoutInformationCollectionViewCell.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordContainerViewController.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
Labels: 🔧 개선, 📱 iOS

#386 [GWL-385] fix: 닉네임 중복시http code 202
  BackEnd/src/auth/exceptions/auth.exception.ts
  BackEnd/src/profiles/profiles.service.ts
Labels: 💻백엔드

#387 [GWL-383] UserDfeaults에 데이터를 저장하는 Fetcher를 생성
  iOS/Projects/Features/Login/Project.swift
  iOS/Projects/Features/Login/Sources/Domain/UseCases/AuthorizeUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/Splash/Project.swift
  iOS/Projects/Features/Splash/Sources/Data/Repositories/PersistencyRepository.swift
  iOS/Projects/Features/Splash/Sources/Domain/Interfaces/SplashTokenRepositoryRepresentable.swift
  iOS/Projects/Features/Splash/Sources/Domain/UseCases/SplashUseCase.swift
  iOS/Projects/Features/Splash/Sources/SplashScene/Coordinator/SplashCoordinator.swift
  iOS/Projects/Shared/UserInformationManager/Sources/UserInformationFetcher.swift
Labels: 📱 iOS, 🔨 구현

#389 [GWL-388] 매칭 될 때 실제 매칭되는 화면처럼 수정
  iOS/Projects/Features/Record/Sources/Presentation/WorkoutPeerMatchingScene/ViewController/WorkoutPeerRandomMatchingViewController.swift
Labels: 📱 iOS, 🔨 구현

#390 [GWL-306] 닉네임 중복검사 기능 추가
  iOS/Projects/App/WeTri/Sources/Application/SceneDelegate.swift
  iOS/Projects/Features/SignUp/Sources/Data/DTO/NickNameDuplicateRequestDTO.swift
  iOS/Projects/Features/SignUp/Sources/Data/Repository/SignUpRepository.swift
  iOS/Projects/Features/SignUp/Sources/Domain/Interfaces/SignUpRepositoryRepresentable.swift
  iOS/Projects/Features/SignUp/Sources/Domain/UseCase/SignUpUseCase.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/View/NickNameDuplicatingCheckerView.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/ViewModel/SignUpProfileViewModel.swift
Labels: 📱 iOS, 🔨 구현

#394 [GWL- 393 (HotFix)] 온보딩 화면 텍스트 희미한 문제 해결
  iOS/Projects/Features/Onboarding/Sources/Presentaion/ViweController/OnboardingViewController.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+Main.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+MainCircular.swift
Labels: 🐛 버그, 📱 iOS

#397 [GWL-396] 시간대 15시간 차이나는 버그 수정
  iOS/Projects/Features/Record/Sources/Data/DTO/RecordResponseDTO.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
Labels: 📱 iOS

#398 Release브랜치에서 수정한 버그 -> develop에 머지
  BackEnd/public/index.html
  iOS/Projects/Features/Onboarding/Sources/Presentaion/ViweController/OnboardingViewController.swift
  iOS/Projects/Features/Record/Sources/Data/DTO/RecordResponseDTO.swift
  iOS/Projects/Features/Record/Sources/Presentation/RecordScene/ViewController/RecordListViewController.swift
  iOS/Projects/Features/SignUp/Sources/Presentation/SignUpProfileScene/SignUpProfileViewController.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+Main.swift
  iOS/Projects/Shared/DesignSystem/Sources/UIButtonConfiguration+MainCircular.swift
Labels: 🌎 공통

#400 README 업데이트
  README.md
Labels: 🌎 공통
